<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Booking Requests</title>
  </head>
  <body>
    <h3>Booking request sent!</h3>

    <p> Booking Ref: <%= @booked.id %> </p>


<% @listings.each do |listing| %>
  <% if listing.id == @booked.listing_id %>
          Your staying at <%= listing.name %>
        <% @your_listing = listing %>
    <% end %>
    <% end %>
    <% @user.each do |user| %>
      <% if user.id == @your_listing.user_id %>
        Your host is <%= user.first_name %> <%= user.last_name %>
      <% end %>
      <% end %>

    <form action="/listings" method = "get" >
      <button type ="submit"> Return to listings </button>

    </form>
  </body>
</html>
